player-connection-mode=Listen
player-connection-guid=2292820981
player-connection-debug=0
player-connection-project-name=Song of wing
player-connection-ip=10.243.136.210
player-connection-ip=169.254.227.175
player-connection-ip=169.254.208.70
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
